@import "tailwindcss";

:root {
  /* ---- Grey ---- */
  --grey-800: #26262B;
  --grey-700: #2B2D32;
  --grey-600: #404547;
  --grey-500: #9F9F9F;
  --grey-400: #969799;
  --grey-300: #9D9CA2;
  --grey-200: #E5E5E5;
  --grey-100: #fefefe;

  /* ---- Cards ---- */
  --card-pink: #DF96AE;
  --card-grey: #F4F0E4;
  --card-blue: #384C75;

  /* ---- White & Black ---- */
  --white: #fff;
  --black: #000;

  /* ---- carousel ---- */
  --carousel-purple: #765070;

  /* ---- Social Colors ---- */
  --facebook: #3A5792;
  --twitter: #2691D5;
  --instagram: #D41792;
  --youtube: #EB0C19;
}

@theme {
  /* ---- Background Colors ---- */
  --color-background-dark: var(--grey-800);
  --color-foreground-light: var(--grey-100);

  /* ---- Grey ---- */
  --color-grey-800: var(--grey-800);
  --color-grey-700: var(--grey-700);
  --color-grey-600: var(--grey-600);
  --color-grey-500: var(--grey-500);
  --color-grey-400: var(--grey-400);
  --color-grey-300: var(--grey-300);
  --color-grey-200: var(--grey-200);
  --color-grey-100: var(--grey-100);

  /* ---- Cards ---- */
  --color-card-pink: var(--card-pink);
  --color-card-grey: var(--card-grey);
  --color-card-blue: var(--card-blue);

  /* ---- Text Colors ---- */
  --color-foreground: white;
  --color-background: var(--grey-800);

  /* ---- carousel ---- */
  --color-carousel-purple: var(--carousel-purple);

  /* ---- ---- */
  --color-facebook: var(--facebook);
  --color-twitter: var(--twitter);
  --color-instagram: var(--instagram);
  --color-youtube: var(--youtube);
}

body {
  background-color: var(--grey-800);
  color: var(--white);
  font-family: "Avenir Next", "Nunito", sans-serif;
}