@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  /* ---- Grey ---- */
  --grey-800: #26262B;
  --grey-100: #FEFEFE;


  /* ---- White & Black ---- */
  --white: #fff;
  --black: #000;
}

@theme {
  /* ---- Background Colors ---- */
  --color-background-dark: var(--grey-800);
  --color-foreground-light: var(--grey-100);

  /* ---- Text Colors ---- */
  --color-foreground: white;
  --color-background: var(--grey-800);
  

}

body {
  background-color: var(--grey-800);
  color: var(--white);
    font-family: "Avenir Next" ,"Nunito", sans-serif;

}